# Tweeter Analysis for Mayor Compaign - 2018
Name:Saad Janjua and Carolyn Gakuria
Due Date: 5:45pm, Wednesday, December, 16 2017

### Import standard packages for Text Mining
Imported packages and removed Deprecation Warnings.

In [1]:
#Add packages
# import module(s) into namespace
import pandas as pd   #we almost always need pandas because we like data frames
from bs4 import BeautifulSoup
import requests
import numpy as np
import nltk 
#nltk.download()
pd.set_option('display.max_colwidth', 500) #important for getting all the text
import os
os.getcwd()
import warnings

def fxn():
    warnings.warn("deprecated", DeprecationWarning)

with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    fxn()
from sklearn.feature_extraction.text import CountVectorizer
import math
%pwd

'C:\\Users\\sj\\Desktop\\Project Tweeter for Q Lucas'

### Change working directory

In [4]:
cd C:\\Users\\sj\\Desktop\\Project Tweeter for Q Lucas\\

C:\Users\sj\Desktop\Project Tweeter for Q Lucas

# T1. Read in Twitter Feed to study Data Science Job Market

In [9]:
import tweepy
from tweepy import OAuthHandler

consumer_key =  "dsgoEofwl4E1GMKmefz41xaKK"
consumer_secret = "lyVPvZESU5OmMuwfzTkH0mykUVzoTnxSqTb0kuN7fIxoWPPHRI"
access_token= "900396507941175296-KXBj0nkvCoAglCriZApXwSxxwywUc8M"
access_secret="wcQgCAP1NrMKVfWrASzEghLuCbRU9KsXdZYFVulQjtK1b"


auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth)

# A SearchResults object isn't very helpful, how about a list
results = []

#Get the first 500 items based on the search query for 
for tweet in tweepy.Cursor(api.search, q='QuintonLucasKC').items(500):
    results.append(tweet)


# Create a function to convert a given list of tweets into a Pandas DataFrame.

def toDataFrame(tweets):

    DataSet = pd.DataFrame()

    DataSet['tweetText'] = [tweet.text for tweet in tweets]
    
    return DataSet


#Pass the tweets list to the above function to create a DataFrame
tweet_frame = toDataFrame(results)
#print(tweet_frame.shape)
tweet_frame.head()

                                                                                                                                      tweetText
0                                                         @mdpeavy @mellinger I guess multi-tasking is fundamentally how social media survives.
1              @QuintonLucasKC @mellinger "Sam's got a Chief's game for the division to prep for."  Don't underestimate Sam; he can multi-task.
2  @mdpeavy @mellinger Sam's got a Chief's game for the division to prep for. Generally, City Council has agreed to no… https://t.co/y8DhDL9VN2
3   @mellinger @QuintonLucasKC "But the council approved the MOU before the vote right?" Sam, you totally lost me; did… https://t.co/51eDukViqu
4                                                                                                            @GaylaMHirst Thank you. Go CHIEFS!

In [10]:
print(tweet_frame)

                                                                                                                                           tweetText
0                                                              @mdpeavy @mellinger I guess multi-tasking is fundamentally how social media survives.
1                   @QuintonLucasKC @mellinger "Sam's got a Chief's game for the division to prep for."  Don't underestimate Sam; he can multi-task.
2       @mdpeavy @mellinger Sam's got a Chief's game for the division to prep for. Generally, City Council has agreed to no… https://t.co/y8DhDL9VN2
3        @mellinger @QuintonLucasKC "But the council approved the MOU before the vote right?" Sam, you totally lost me; did… https://t.co/51eDukViqu
4                                                                                                                 @GaylaMHirst Thank you. Go CHIEFS!
5       @QuintonLucasKC I know how strongly you support the success of KCMO and your passion for a new KCI. I trust your so… https://t.co/JCvkWdYzEC
6                                                                @QuintonLucasKC It seems like I was at your office all week. Where were you hiding?
7                  @QuintonLucasKC How was this not addressed in the fall? Seems like an important topic to discuss before giving them the business.
8                            @mellinger @QuintonLucasKC @schwaby126 How so?  With that take, any outside vendor has all leverage in any negotiation.
9                                              @QuintonLucasKC @schwaby126 all due respect, the council’s vote looks like hubris to a lot of people.
10              @QuintonLucasKC Not really, your running for office next time what specifically do you plan on doing or like to do for black people.
11          On wrong side of building to catch Saturday sunrise from morning office work, but reflection isn't so bad. #KCMO https://t.co/yMn4jrkubr
12                                                                                        Interesting development and piece. https://t.co/lra142uckG
13      RT @kcurkyle: This is the best one article summary of GOP tax bill I've seen. From @washingtonpost and @byHeatherLong https://t.co/wdZHwJqe…
14                  RT @jeligon: “the writing is on the wall ... the path forward is through communities of color and women” https://t.co/9lR2kDtvoN
15                      @JustinMeyerKC I slip in my proper #BetterKCI branding from time to time. I think I need another #DayAtKCI vacation soon ;-)
16                                                            @QuintonLucasKC #NewKCI is DEAD unless council agrees to the haphazard MOU of Edgemoor
17                                                                                                                       @TobyBargar By whom though?
18                In the interest of getting multiple voices out there. (Last night, I passed on tweets from @JermaineReed,… https://t.co/yayuawLxs6
19                                                    @QuintonLucasKC Pretty clear which members of our counsel are bought and paid for.  Disgusting
20                                                     @QuintonLucasKC @mellinger I appreciate your thoughts and opinions. Keep driving KC  Forward.
21                 @QuintonLucasKC @mellinger Thanks for your thoughts. If you do teach in Lawrence you see daily Clark’s work. Edgemoor’s parent Co
22                                                                                       @QuintonLucasKC @mellinger Do you teach st Lawrence Campus?
23                                        @QuintonLucasKC You don't need corporate shakedown handouts to special interest groups to build an airport
24      RT BetsyKCTV5 : Oh snap. (Regarding vote to discuss some of Edgemoor MOU concerns in executive session due to possi… https://t.co/26Ex4xCgfb
25      Oh snap. (Regarding vote to discuss some of Edgemoor MOU concerns in executive session due to possible legal/contra… https://t.co/itFU3rOan4
26                                                                  @QuintonLucasKC I think Edgemoor deserves the right to amend. Give that to them.
27                                                                                              @QuintonLucasKC New terminal, not “new airport”. 👌🏼😉
28                                                       @QuintonLucasKC You degenerative fuck. We voted for an airport - give us a fucking airport.
29       Talked w some of the 9 who voted no on Edgemoor MOU. The reasons are not the same for all of them. On @KCTV5 10pm,… https://t.co/p4wuG53CP4
..                                                                                                                                               ...
470   RT @laurazig: Privatize sidewalks in @Westport_KC @WHS_1821?\n@larodrig breaks out arguments here. Your thoughts? @QuintonLucasKC\n#WestportR…
471     @Westport_KC @dueynetsell @laurazig @WHS_1821 @larodrig @QuintonLucasKC They are punished by not being able to free… https://t.co/2w9P1U1o0u
472     @laurazig @Westport_KC @WHS_1821 @larodrig @QuintonLucasKC The current plan is not the right solution. Commend West… https://t.co/8xYSQI07YS
473      #KCCouncil receiving shortly an update on the latest at the Jackson County Jail.  We all can agree that conditions… https://t.co/Dttnh93GSa
474      @laurazig @Westport_KC @WHS_1821 @larodrig @QuintonLucasKC It's a terrible idea that will further muck up Westport… https://t.co/PewyBKjYkC
475  @Westport_KC @laurazig @WHS_1821 @larodrig @QuintonLucasKC You know damn well how &amp; that an arena/stadium is not a… https://t.co/fZt3yYsvG2
476     @dueynetsell @laurazig @WHS_1821 @larodrig @QuintonLucasKC How is the public punished? Is anyone punished when they… https://t.co/TTuuo48AOA
477      @laurazig @Westport_KC @WHS_1821 @larodrig @QuintonLucasKC Privatizing punishes the innocent public, rewards those… https://t.co/XacbpeYwAD
478     Privatize sidewalks in @Westport_KC @WHS_1821?\n@larodrig breaks out arguments here. Your thoughts? @QuintonLucasKC… https://t.co/hUQhknPGHe
479     RT @QuintonLucasKC: Delighted to honor @kcpolice Ofc. Jason Cooley as 3rd Dist Citizen of the Year. Strong advocate for our neighborhood ht…
480                                                                       @QuintonLucasKC Maybe Gardner is auditioning to be a writer for The Onion.
481     RT @KevinMKruse: Maybe instead of blowing money on pointless TV ads urging Republicans to impeach their own party's president, liberal bill…
482                                                                                                               @damesmith @QuintonLucasKC "weird"
483                                           @QuintonLucasKC It's weird she'd say that and not make the obvious connection from Weinstein to Trump.
484                                            Like sands through the hourglass, these are the political spins of our lives. https://t.co/DMmnDOzBad
485   LOL.  Pass.  But, really, a novel request. \n\nI do hope Sen. Gardner makes the same request to the president so that… https://t.co/IeMM2F4W0h
486                                                                                                                @QuintonLucasKC Roll. Damn. Tide.
487                                                                                                                                      #ThanksBama
488      In 10 yrs w/awful (R) senate cands like Todd Akin, Richard Mourdock, Sharron Angle; Roy Moore was special type of historically embarrassing
489     RT @QuintonLucasKC: Delighted to honor @kcpolice Ofc. Jason Cooley as 3rd Dist Citizen of the Year. Strong advocate for our neighborhood ht…
490                                                                                         @QuintonLucasKC @kcpolice Hello from ma and Robyn Toles!
491                                                                                                                        @QuintonLucasKC 🙌🙌🙌🙌🙌🙌🙌🙌🙌
492                                                                                                      👏🏾 way to go, BAMA! https://t.co/jiFUlGV6b8
493                                                                                                                                       Roll Tide.
494     RT @QuintonLucasKC: Delighted to honor @kcpolice Ofc. Jason Cooley as 3rd Dist Citizen of the Year. Strong advocate for our neighborhood ht…
495     RT @QuintonLucasKC: Delighted to honor @kcpolice Ofc. Jason Cooley as 3rd Dist Citizen of the Year. Strong advocate for our neighborhood ht…
496     Members of the joint committee are as follows. Please reach out to them to share your thoughts on the Westport side… https://t.co/TKzdO2XzTJ
497                          @QuintonLucasKC @kcpolice Kudos! Officer Cooley has been a great partner with @BikeWalkKC on Safe Routes to School work
498     RT @torianoporter: Police were investigating after one was person was found shot to death outside a Kansas City business. https://t.co/fmxf…
499     RT @QuintonLucasKC: Delighted to honor @kcpolice Ofc. Jason Cooley as 3rd Dist Citizen of the Year. Strong advocate for our neighborhood ht…

[500 rows x 1 columns]

In [6]:
cv2 = CountVectorizer( binary=False, lowercase=True) #define the transformation
cv2_tweet_frame = cv2.fit_transform(tweet_frame['tweetText']) #apply the transformation
print(cv2_tweet_frame.shape)
# multiset or "bag of words"
#print(cv2.get_feature_names()) #To many words

(500, 1139)

In [7]:
pd.DataFrame(cv2_tweet_frame.toarray(),columns = cv2.get_feature_names()).head(10)

,02127,07936,07ma8kgacm,08540,08648,0btyvaqnzn,0ccxrqvlcg,0icwlta6dx,0nmbnggnbc,0tq1ongygp,...,zizflrec3z,zkuq41rjx7,zljq33furg,zlwsxoznfy,zneda,zsctqxfdee,zutiknteaw,économie,киев,удаленно
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
cv3 = CountVectorizer( binary=False, lowercase=True,stop_words='english',max_features=20,ngram_range=(1, 2)) #define the transformation
cv3_tweet_frame = cv3.fit_transform(tweet_frame['tweetText']) #apply the transformation
print(cv3_tweet_frame.shape)
# multiset or "bag of words"
#print(cv3.get_feature_names()) #To many words

(500, 20)

In [9]:
pd.DataFrame(cv3_tweet_frame.toarray(),columns = cv3.get_feature_names()).head(10)

,ca,clinical,clinical data,data,data manager,data science,hiring,https,job,jobs,manager,pls,pls rt,remote,rt,san,science,seattle,sr,sr clinical
0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
1,1,0,0,1,0,1,1,1,1,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,1,0,1,0,2,0,1,0,0,0,0,0,0,1,0,0,0
3,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,2,0,1,0,0,0,0,0,0,0,0,0,0
5,0,0,0,2,0,1,0,1,0,1,0,1,1,0,1,0,1,0,0,0
6,0,0,0,1,0,1,0,1,0,1,0,0,0,0,0,0,1,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
9,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0

In [10]:
cv4 = CountVectorizer(binary=False, lowercase=False,stop_words='english',ngram_range=(1, 2),max_df = 0.5, min_df= .08 ) #define the transformation
cv4_tweet_frame = cv4.fit_transform(tweet_frame['tweetText']) #apply the transformation
print(cv4_tweet_frame.shape)
# multiset or "bag of words"
#print(cv4.get_feature_names()) #To many words

(500, 19)

In [11]:
pd.DataFrame(cv4_tweet_frame.toarray(),columns = cv4.get_feature_names()).head(10)

,CA,Clinical,Clinical Data,Data Manager,Data Science,Engineer,Jobs,Manager,RT,Science,Sr,US,US jobs,We,data,job,jobs,pls,pls RT
0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,0
2,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,1,1
6,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [12]:
cv5 = CountVectorizer(binary=False, analyzer='word',lowercase=False,stop_words='english',max_features=20) #define the transformation
cv5_tweet_frame = cv5.fit_transform(tweet_frame['tweetText']) #apply the transformation
print(cv5_tweet_frame.shape)
# multiset or "bag of words"
#print(cv5.get_feature_names()) #To many words

(500, 20)

In [13]:
pd.DataFrame(cv5_tweet_frame.toarray(),columns = cv5.get_feature_names()).head(10)

,CA,Clinical,Data,Engineer,Francisco,Homebased,Jobs,Manager,RT,San,Science,Seattle,Sr,US,data,group,https,job,jobs,pls
0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
1,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0
2,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,2,0,1,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,2,0,0,0
5,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,1,1
6,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
8,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0

# Q2. 
#### • The search was done on tweets related to Data Science Jobs to determine what type industries has jobs in Data science and where they are located. These tweet should be able to tell us which industry and city to look for data science jobs.

#### • The feature that are able to determine where the application for Data Science job should be submitted are Tweet Text, since it tells us the title of job, industry and location. Tweet Create date tells how long it has been posted. Both these fields should be able to help user in making a decision of where and when and which industry to apply in.

# T3. We can use a different vectorizer to apply weights based on the frequency of the term in a Document

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
# now apply weights based on the inverse document frequency
tfidf3 = TfidfVectorizer(use_idf=True, lowercase=False,stop_words='english',ngram_range=(1, 2),max_df = 0.5, min_df= .08) #define the transformation
tf3_dm = tfidf3.fit_transform(tweet_frame['tweetText']) #apply the transformation
print(tf3_dm.shape)
pd.DataFrame(tf3_dm.toarray(),columns = tfidf3.get_feature_names()).head(10)

(500, 19)

,CA,Clinical,Clinical Data,Data Manager,Data Science,Engineer,Jobs,Manager,RT,Science,Sr,US,US jobs,We,data,job,jobs,pls,pls RT
0,0.00000,0.0,0.0,0.0,0.716094,0.00000,0.00000,0.0,0.00000,0.698003,0.0,0.0,0.0,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000
1,0.50372,0.0,0.0,0.0,0.303781,0.00000,0.00000,0.0,0.00000,0.296106,0.0,0.0,0.0,0.55908,0.000000,0.50372,0.000000,0.000000,0.000000
2,0.00000,0.0,0.0,0.0,0.388723,0.71541,0.00000,0.0,0.00000,0.378903,0.0,0.0,0.0,0.00000,0.000000,0.00000,0.439904,0.000000,0.000000
3,0.00000,0.0,0.0,0.0,0.000000,0.00000,0.00000,0.0,0.00000,0.000000,0.0,0.0,0.0,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000
4,0.00000,0.0,0.0,0.0,0.000000,0.00000,1.00000,0.0,0.00000,0.000000,0.0,0.0,0.0,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000
5,0.00000,0.0,0.0,0.0,0.000000,0.00000,0.00000,0.0,0.31025,0.000000,0.0,0.0,0.0,0.00000,0.572205,0.00000,0.390517,0.459494,0.461181
6,0.00000,0.0,0.0,0.0,0.475142,0.00000,0.74816,0.0,0.00000,0.463138,0.0,0.0,0.0,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000
7,0.00000,0.0,0.0,0.0,0.000000,0.00000,0.00000,0.0,0.00000,0.000000,0.0,0.0,0.0,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000
8,0.00000,0.0,0.0,0.0,0.000000,0.00000,0.00000,0.0,0.00000,1.000000,0.0,0.0,0.0,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000
9,0.00000,0.0,0.0,0.0,0.000000,0.00000,0.00000,0.0,0.00000,0.000000,0.0,0.0,0.0,0.00000,0.000000,1.00000,0.000000,0.000000,0.000000

In [21]:
names = tfidf3.get_feature_names()   #create list of feature names
count = np.sum(tf3_dm.toarray(), axis = 0) # add up feature counts 
count2 = count.tolist()  # convert numpy array to list
count_df = pd.DataFrame(count2, index = names, columns = ['count']) # create a dataframe from the list
count_df.sort_values(['count'], ascending = False)  #arrange by count instead

                    count
Science        105.048418
Data Science   100.468730
RT              91.710461
jobs            57.110064
data            50.071147
Jobs            49.102596
Clinical        47.576546
Clinical Data   46.028096
job             43.028002
US              32.337536
US jobs         31.975504
pls             31.450043
pls RT          31.041728
Sr              30.643200
We              29.221617
Manager         28.429458
Engineer        27.487355
CA              22.881895
Data Manager    21.319414

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
# now apply weights based on the inverse document frequency
tfidf4 = TfidfVectorizer(smooth_idf=True, lowercase=True,stop_words='english',max_features=20,ngram_range=(1, 2)) #define the transformation
tf4_dm = tfidf4.fit_transform(tweet_frame['tweetText']) #apply the transformation
print(tf4_dm.shape)
pd.DataFrame(tf4_dm.toarray(),columns = tfidf4.get_feature_names()).head(10)

(500, 20)

,ca,clinical,clinical data,data,data manager,data science,hiring,https,job,jobs,manager,pls,pls rt,remote,rt,san,science,seattle,sr,sr clinical
0,0.000000,0.0,0.0,0.412061,0.0,0.601736,0.000000,0.357309,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.583481,0.0,0.0,0.0
1,0.535477,0.0,0.0,0.201204,0.0,0.293820,0.518775,0.174469,0.453556,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.284906,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.308660,0.0,0.450738,0.000000,0.535293,0.000000,0.473286,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.437064,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.336366,0.0,0.000000,0.000000,0.291672,0.758239,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.476297,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.749165,0.000000,0.662384,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0
5,0.000000,0.0,0.0,0.427764,0.0,0.312333,0.000000,0.185462,0.000000,0.327958,0.0,0.441124,0.442659,0.0,0.30863,0.0,0.302858,0.0,0.0,0.0
6,0.000000,0.0,0.0,0.348352,0.0,0.508702,0.000000,0.302065,0.000000,0.534149,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.493269,0.0,0.0,0.0
7,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0
8,0.000000,0.0,0.0,0.515918,0.0,0.000000,0.000000,0.447365,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.730543,0.0,0.0,0.0
9,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.729816,0.245444,0.638064,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0

In [20]:
names = tfidf4.get_feature_names()   #create list of feature names
count = np.sum(tf4_dm.toarray(), axis = 0) # add up feature counts 
count2 = count.tolist()  # convert numpy array to list
count_df = pd.DataFrame(count2, index = names, columns = ['count']) # create a dataframe from the list
count_df.sort_values(['count'], ascending = False)  #arrange by count instead

                    count
https          139.491926
data           123.197450
science        112.506264
data science   109.586776
rt              86.842343
jobs            77.065976
job             54.149462
clinical        42.002008
hiring          41.483581
clinical data   40.406278
remote          34.959404
pls             31.669453
pls rt          31.480037
sr              31.298392
manager         26.845061
ca              21.863906
seattle         21.415580
data manager    19.446256
san             17.781542
sr clinical     12.809106

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
# now apply weights based on the inverse document frequency
tfidf5 = TfidfVectorizer(sublinear_tf=True,norm="l2",lowercase=False,stop_words='english',max_features=20,ngram_range=(1, 2)) #define the transformation
tf5_dm = tfidf5.fit_transform(tweet_frame['tweetText']) #apply the transformation
print(tf5_dm.shape)
pd.DataFrame(tf5_dm.toarray(),columns = tfidf5.get_feature_names()).head(10)

(500, 20)

,CA,Clinical,Clinical Data,Data,Data Manager,Data Science,Jobs,Manager,RT,Science,Seattle,Sr,US,US jobs,data,https,job,jobs,pls,pls RT
0,0.000000,0.0,0.0,0.423740,0.0,0.604932,0.000000,0.0,0.000000,0.589650,0.0,0.0,0.0,0.0,0.000000,0.326824,0.000000,0.000000,0.000000,0.000000
1,0.577941,0.0,0.0,0.244145,0.0,0.348542,0.000000,0.0,0.000000,0.339736,0.0,0.0,0.0,0.0,0.000000,0.188305,0.577941,0.000000,0.000000,0.000000
2,0.000000,0.0,0.0,0.328092,0.0,0.468385,0.000000,0.0,0.000000,0.456552,0.0,0.0,0.0,0.0,0.000000,0.428455,0.000000,0.530055,0.000000,0.000000
3,0.000000,0.0,0.0,0.791837,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.610732,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.864678,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.502326,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.0,0.0,0.231189,0.0,0.000000,0.000000,0.0,0.296732,0.000000,0.0,0.0,0.0,0.0,0.547273,0.178313,0.000000,0.373502,0.439474,0.441087
6,0.000000,0.0,0.0,0.306824,0.0,0.438022,0.689711,0.0,0.000000,0.426956,0.0,0.0,0.0,0.0,0.000000,0.236648,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.0,0.0,0.532152,0.0,0.000000,0.000000,0.0,0.000000,0.740509,0.0,0.0,0.0,0.0,0.000000,0.410441,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.309791,0.950805,0.000000,0.000000,0.000000

In [19]:
names = tfidf5.get_feature_names()   #create list of feature names
count = np.sum(tf5_dm.toarray(), axis = 0) # add up feature counts 
count2 = count.tolist()  # convert numpy array to list
count_df = pd.DataFrame(count2, index = names, columns = ['count']) # create a dataframe from the list
count_df.sort_values(['count'], ascending = False)  #arrange by count instead

                    count
https          139.924137
Data           110.678353
Science        100.301997
Data Science    96.983643
RT              87.040111
jobs            52.482638
data            48.874388
Jobs            48.206212
Clinical        42.014019
Clinical Data   41.295635
job             40.810972
Sr              32.508275
US              30.791030
US jobs         30.280231
pls             29.721284
pls RT          29.517485
Manager         28.305617
CA              23.770413
Data Manager    20.798221
Seattle         19.437322

# Q3. 
#### • The unstructured data such as twitter or news feeds both have similarity, however, the news feed dataset has information that has gone through some sort of review by editors in compared to twitter data. The collection of data from twitter  is efficient then HTML since there is no need to look up page source code to find text to mine. However, Twitter , is subject to the limitations posed by Twitter; the rate-limit and the fact that you cannot search for twitter messages older than 7 days is an issue for creating predictive models. To answer question such as customer’s sentiment twitter feed is more relevant. However, in order to get current affairs, news feed is much important.

#### • The context of the question should be used to determine what data source to be used. For instance if we want to understand sentiment of population that is unbiased (e.g. How do customers feels about amazon purchasing Whole foods?) than twitter might be valuable. However, in the case of finding investor’s sentiment, stock price fluctuations or editorial analysis can be used.